<div class="container col-4 shadow my-4 p-3">
    <h1 class="text-center text-dark">Update Password</h1>
    <input type="email" class="form-control my-2" placeholder="Email" [(ngModel)]="email">
    <input type="text" class="form-control my-2" placeholder="New Password" [(ngModel)]="newPassword">
    <input type="text" class="form-control my-2" placeholder="Confirm Password" [(ngModel)]="confirmPassword">
    <span>{{userMsg}}</span>
    <input type="button" class="form-control my-2 btn btn-outline-dark" value="Reset Password" (click)="resetPassword()">
</div>