<app-student-navbar></app-student-navbar>
<div class="container col-4 shadow my-4 p-3">
    <h1 class="text-center text-dark">Update Password</h1>
    <input type="text" class="form-control my-2" placeholder="Previous Password" [(ngModel)]="prevPassword">
    <input type="text" class="form-control my-2" placeholder="New Password" [(ngModel)]="newPassword">
    <input type="text" class="form-control my-2" placeholder="Confirm Password" [(ngModel)]="confirmPassword">
    <span>{{userMsg}}</span>
    <input type="button" class="form-control my-2 btn btn-outline-dark" value="Update Password" (click)="updatePassword()">
</div>
