<div class="container mt-5 rounded-3 p-5 shadow-lg w-50">
    <div class="text-dark fs-2 fw-medium pb-3 text-center">CONTACT INFORMATION</div>

    <div class=" d-flex" style="justify-content: space-between;">
        <div class=" text-dark fs-4 ">First Name</div>
        <div class="text-primary ps-3 fs-4 fw-medium">{{contactInfo.Firstname}}</div>
    </div>
    <div class=" d-flex" style="justify-content: space-between;">
        <div class=" text-dark fs-4 ">Last Name</div>
        <div class="text-primary ps-3 fs-4 fw-medium">{{contactInfo.lastname}}</div>
    </div>
    <div class=" d-flex" style="justify-content: space-between;">
        <div class=" text-dark fs-4">Email</div>
        <div class="text-primary ps-3 fs-4 fw-medium">{{contactInfo.email}}</div>
    </div>
    <div class=" d-flex" style="justify-content: space-between;">
        <div class=" text-dark fs-4 ">Phone Number</div>
        <div class="text-primary ps-3 fs-4 fw-medium">{{contactInfo.Phonenumber}}</div>
    </div>

    <a routerLink="/contact"><button class="btn btn-outline-primary w-100 mt-3">Back</button></a>
</div>