<!-- <div>Angular Poject</div> -->
<!-- <div>hi!!</div>
<div>{{firstname}}</div>
<div>I am {{firstname + lastname}}</div>
<div>my age is {{objone.age}}</div>
<div>Our info is {{schoolInfo.candidates[0].name}}</div>

<div>
    <app-contact-app></app-contact-app>
</div>

<div class="container-fluid">
    <div class="col-8">
        <p class="text-primary">working fine</p>
        <div>
            <app-edit></app-edit>
        </div>
        <div>
            <app-landing-page></app-landing-page>
        </div>
    </div>
</div> -->
<router-outlet />
