<!-- <p>pipe works!</p>
<p>{{'agriculture'|uppercase}}</p>
<p>{{'AGRICULTURE'|lowercase}}</p>

<div>{{time|date}}</div>
<div>{{time|date:'short'}}</div>
<div>{{time|date:'long'}}</div>
<div>{{time|date:'medium'}}</div>
<div>{{time|date:'full'}}</div>
<div>{{time|date:'mediumTime'}}</div>
<div>{{time|date:'shortTime'}}</div>
<div>{{time|date:'fullTime'}}</div>
w
<div>{{time|date:'mediumDate'}}</div>
<div>{{time|date:'shortDate'}}</div>
<div>{{time|date:'fullDate'}}</div>
e
<div>{{time|date:'d/M/Y'}}</div>
<div>{{time|date:'y/M/D'}}</div>
works -->
<div>{{1000|currency}}</div>
<div>{{1000|currency:'EUR'}}</div>
<div>{{1000|currency:'EUR':'code'}}</div>
<div>{{1000|currency:'NGN':'code'}}</div>
<div>{{1000|currency:'NGN':'symbol-narrow'}}</div>
<div>{{1000|currency:'GHC'}}</div>
<div>{{1000|currency:'YEN':'code'}}</div>
<div>{{1000|currency:'CNY'}}</div>

<p>{{'Investments'|slice:0:9}}</p>
classwork
<p>{{'Everlasting'|slice:0:11}}</p>
<p>{{'Everlasting'|slice:0:4}}</p>
<p>{{'Everlasting'|slice:4:8}}</p>
<p>{{'Everlasting'|slice:4:11}}</p>
<p>{{'Everlasting'|slice:6:11}}</p>
<p>{{'Everlasting'|slice:7:11}}</p>
<p>{{'Everlasting'|slice:8:10}}</p>
<p>{{'Everlasting'|slice:7:10}}</p>

